$primary-color: rgba(247, 203, 7, 0.92);
$hover-color: #e0e03c;

.wrapper {
	width: 1000px;
	margin: 10px auto;
}
.fleft {
	float: left;
}
.fright {
	float: right;
}
ul {
	padding: 0;
	margin: 0;
	li{
		list-style-type: none;
		cursor: pointer;
	}
}
a {
	text-decoration: none;
}
label {
	font-weight: bold;
	display: block;
	margin-bottom: 10px;
}
select {
	border: 0;
	width: 100%;
}
.text-center {
	text-align: center;
}
.text-color {
	&:hover {
		color: $hover-color;
	}
	&.primary {
		color: $primary-color;
	}
	&.red {
		color: red;
	}
}
.margin-btm20 {
	margin-bottom: 20px !important;
}
.btn, input[type="button"], button {
	padding: 5px 10px;
	background: $primary-color;
	color: #fff;
	border: 0;
	border-radius: 3px;
	margin-bottom: 5px;
	cursor: pointer;

	&:hover {
		background: $hover-color;
		color: #fff;
	}
}
.item, .row, ul.chosen > li {
	border: 1px solid #ccc;
	padding: 5px 10px;
	margin-bottom: 5px;
}

ul.chosen{
	li{
		&:hover{
			border-color: $primary-color;
		}
		a{
			display: block;
			width: 100%;
		}
	}
}

.active, .current {
	background: $hover-color;
	color: #fff;

	& > a {
		color: #fff;
	}
}
.view_box {
	margin: 20px auto;
	width: 400px;
	height: 250px;
	border: 2px solid $primary-color;
	padding: 15px;
	&.full_width{
		padding: 0;
		width: 100%;
	}
}
.title {
	display: block;
	padding: 10px;
	text-align: left;
	font-size: 25px;
	background: #ccc;
	margin: 10px 0;
	clear: both;
}
#boxA, #boxB {
	padding: 5px;
	width: 40%;
	height: 300px;
	border: 1px solid $primary-color;
}
#control {
	padding: 5px;
	margin-left: 10px;
	display: inline-block;
}
.square30 {
	width: 30px;
	height: 30px;
	background: $primary-color;
}
ul.week_list {
	position: fixed;
	left: 10px;
	top: 50%;

	li {
		list-style-type: none;

		&:hover {
			background: $hover-color;
			color: #fff;

			& > a {
				color: #fff;
			}
		}
	}
}

/*** Scroll_control ***/
ul#scroll_control {
	position: fixed;
	right: 10px;
	top: 50%;

	li {
		list-style: none;
		margin-bottom: 5px;
		width: 70px;

		input {
			margin-bottom: 10px;
		}
		a {
			display: block;
			padding: 2px 5px;
			background: $primary-color;
			color: #fff;
			text-decoration: none;
			text-align: center;

			&:hover {
				background: $hover-color;
			}
		}
	}
}

/*** End Scroll_control ***/

/* Autocomplete */
#autocomplete {
	input#keywords {
		color: rgb(153, 153, 153);
		font-style: italic;
		width: 100%;
		height: 25px;
	}
	.results {
		border: 1px solid #ccc;
		display: none;

		ul {
			list-style: none inside;
			margin: 10px;

			& > li {
				padding: 4px;
				border-bottom: solid 1px #ccc;
				white-space: nowrap;
				overflow: hidden;

				&.hover-bg {
					background-color: $primary-color;
					cursor: pointer;
				}
			}
		}
	}
}

/* End Autocomplete */

/*** Gototop button ***/
span#gototop {
	width: 50px;
	height: 50px;
	line-height: 50px;
	position: fixed;
	right: 5px;
	bottom: 50px;
	background: $primary-color;
	color: #fff;
	cursor: pointer;
	padding: 5px;

	&:hover {
		background: $hover-color;
	}
}